= form_for @sweet, :remote => true do |f|
  - if @sweet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sweet.errors.count, "error")} prohibited this sweet from being saved:"
      %ul
        - @sweet.errors.full_messages.each do |msg|
          %li= msg
          
  .field
    = f.hidden_field :parent_id, :value => 0
  .field
    = f.text_area :message, class:"sweet_message", placeholder:"Enter Sweet Here"
  .actions
    = f.submit 'Send', class:"submit-main-button erase-click"
  %div.rem-counter
    Remaining Characters: 
    .counter 140
