/ =link_to "Search Users", controller: "users", action: "list"
%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/sweets"} Switter
    %div
      %ul.nav.navbar-nav
        %li.active=link_to "Change Password", controller: "users", action: "edit", id: session[:user_id]
        %li#search-doortag
          = form_tag 'doortag/search' do
            = field_set_tag do
              Doortag:
              = text_field_tag :tag
              = submit_tag 'Search'
        %li=link_to "Logout", controller: "users", action: "logout"
.sweet_index  
  %span#welcome  
    Welcome, 
    = session[:username]   

  %h1 New sweet

  = render 'form'

  %h1 Listing sweets

  %table.table.table-striped
    %tbody
      - @sweets.each do |sweet|
        -if sweet.parent_id == 0
          %tr
            %td
              .thread
                %h4 New Thread
                = form_for @sweet do |f|         
                  .field
                    = f.hidden_field :parent_id, :value => sweet.id
                  .field
                    = f.text_area :message, class:"sweet_message", placeholder:"Enter Sweet Here"
                  .actions
                    = f.submit 'Save', class:"submit-sweet-button erase-click"
                  %div.rem-counter
                    Remaining Characters: 
                    .counter 140
                -@sweets.each do |sweet2|
                  -if sweet2.parent_id == sweet.id
                    .row
                      .col-md-3
                        %span.username  
                          User: 
                          = User.where(:id => sweet2.user_id).first().username
                      .col-md-3
                        = sweet2.message
                      .col-md-3
                        - if sweet2.statuses.where(:user_id => session[:user_id], :comment => 1).count == 0
                          = button_to "Sweet (" + sweet2.statuses.where(:comment => 1).count.to_s + ")", { controller: "status", action: "toggle_sweet", id: sweet2.id }, class: "btn btn-default btn-xs"
                        - else
                          = button_to "Sweet (" + sweet2.statuses.where(:comment => 1).count.to_s + ")", { controller: "status", action: "toggle_sweet", id: sweet2.id }, class: "btn btn-primary btn-xs"
                      .col-md-3
                        - if sweet2.statuses.where(:user_id => session[:user_id], :comment => 0).count == 0
                          = button_to "Sour (" + sweet2.statuses.where(:comment => 0).count.to_s + ")", { controller: "status", action: "toggle_sour", id: sweet2.id }, class: "btn btn-default btn-xs"
                        - else
                          = button_to "Sour (" + sweet2.statuses.where(:comment => 0).count.to_s + ")", { controller: "status", action: "toggle_sour", id: sweet2.id }, class: "btn btn-warning btn-xs"
                    %br
                Main:
                .row
                  .col-md-3
                    %span.username  
                      User: 
                      = User.where(:id => sweet.user_id).first().username
                  .col-md-3
                    = sweet.message
                  .col-md-3
                    - if sweet.statuses.where(:user_id => session[:user_id], :comment => 1).count == 0
                      = button_to "Sweet (" + sweet.statuses.where(:comment => 1).count.to_s + ")", { controller: "status", action: "toggle_sweet", id: sweet.id }, class: "btn btn-default btn-xs"
                    - else
                      = button_to "Sweet (" + sweet.statuses.where(:comment => 1).count.to_s + ")", { controller: "status", action: "toggle_sweet", id: sweet.id }, class: "btn btn-primary btn-xs"
                  .col-md-3
                    - if sweet.statuses.where(:user_id => session[:user_id], :comment => 0).count == 0
                      = button_to "Sour (" + sweet.statuses.where(:comment => 0).count.to_s + ")", { controller: "status", action: "toggle_sour", id: sweet.id }, class: "btn btn-default btn-xs"
                    - else
                      = button_to "Sour (" + sweet.statuses.where(:comment => 0).count.to_s + ")", { controller: "status", action: "toggle_sour", id: sweet.id }, class: "btn btn-warning btn-xs"
                %br
            
